.text-violet {
  color: $violet;
}

.padding-none {
  padding: 0;
}

.margin-none {
  margin: 0;
}

.vmargin_15 {
  margin: 15px 0;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.relative {
  position: relative;
}