/* HELVETICA */

@font-face {
  font-family: 'HELVETICANEUECYR-BLACKITALIC';
  src: url('../fonts/helvetica/HELVETICANEUECYR-BLACKITALIC_0.eot');
  src: local('☺'), url('../fonts/helvetica/HELVETICANEUECYR-BLACKITALIC_0.woff') format('woff'), url('../fonts/helvetica/HELVETICANEUECYR-BLACKITALIC_0.ttf') format('truetype'), url('../fonts/helvetica/HELVETICANEUECYR-BLACKITALIC_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HELVETICANEUECYR-BOLD';
  src: url('../fonts/helvetica/HELVETICANEUECYR-BOLD_0.eot');
  src: local('☺'), url('../fonts/helvetica/HELVETICANEUECYR-BOLD_0.woff') format('woff'), url('../fonts/helvetica/HELVETICANEUECYR-BOLD_0.ttf') format('truetype'), url('../fonts/helvetica/HELVETICANEUECYR-BOLD_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HELVETICANEUECYR-BOLDITALIC';
  src: url('../fonts/helvetica/HELVETICANEUECYR-BOLDITALIC_0.eot');
  src: local('☺'), url('../fonts/helvetica/HELVETICANEUECYR-BOLDITALIC_0.woff') format('woff'), url('../fonts/helvetica/HELVETICANEUECYR-BOLDITALIC_0.ttf') format('truetype'), url('../fonts/helvetica/HELVETICANEUECYR-BOLDITALIC_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HELVETICANEUECYR-HEAVY';
  src: url('../fonts/helvetica/HELVETICANEUECYR-HEAVY_0.eot');
  src: local('☺'), url('../fonts/helvetica/HELVETICANEUECYR-HEAVY_0.woff') format('woff'), url('../fonts/helvetica/HELVETICANEUECYR-HEAVY_0.ttf') format('truetype'), url('../fonts/helvetica/HELVETICANEUECYR-HEAVY_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HELVETICANEUECYR-ITALIC';
  src: url('../fonts/helvetica/HELVETICANEUECYR-ITALIC_0.eot');
  src: local('☺'), url('../fonts/helvetica/HELVETICANEUECYR-ITALIC_0.woff') format('woff'), url('../fonts/helvetica/HELVETICANEUECYR-ITALIC_0.ttf') format('truetype'), url('../fonts/helvetica/HELVETICANEUECYR-ITALIC_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HELVETICANEUECYR-LIGHT';
  src: url('../fonts/helvetica/HELVETICANEUECYR-LIGHT_0.eot');
  src: local('☺'), url('../fonts/helvetica/HELVETICANEUECYR-LIGHT_0.woff') format('woff'), url('../fonts/helvetica/HELVETICANEUECYR-LIGHT_0.ttf') format('truetype'), url('../fonts/helvetica/HELVETICANEUECYR-LIGHT_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HELVETICANEUECYR-LIGHTITALIC';
  src: url('../fonts/helvetica/HELVETICANEUECYR-LIGHTITALIC_0.eot');
  src: local('☺'), url('../fonts/helvetica/HELVETICANEUECYR-LIGHTITALIC_0.woff') format('woff'), url('../fonts/helvetica/HELVETICANEUECYR-LIGHTITALIC_0.ttf') format('truetype'), url('../fonts/helvetica/HELVETICANEUECYR-LIGHTITALIC_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HELVETICANEUECYR-MEDIUM';
  src: url('../fonts/helvetica/HELVETICANEUECYR-MEDIUM_0.eot');
  src: local('☺'), url('../fonts/helvetica/HELVETICANEUECYR-MEDIUM_0.woff') format('woff'), url('../fonts/helvetica/HELVETICANEUECYR-MEDIUM_0.ttf') format('truetype'), url('../fonts/helvetica/HELVETICANEUECYR-MEDIUM_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HELVETICANEUECYR-ROMAN';
  src: url('../fonts/helvetica/HELVETICANEUECYR-ROMAN_0.eot');
  src: local('☺'), url('../fonts/helvetica/HELVETICANEUECYR-ROMAN_0.woff') format('woff'), url('../fonts/helvetica/HELVETICANEUECYR-ROMAN_0.ttf') format('truetype'), url('../fonts/helvetica/HELVETICANEUECYR-ROMAN_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HELVETICANEUECYR-THIN';
  src: url('../fonts/helvetica/HELVETICANEUECYR-THIN_0.eot');
  src: local('☺'), url('../fonts/helvetica/HELVETICANEUECYR-THIN_0.woff') format('woff'), url('../fonts/helvetica/HELVETICANEUECYR-THIN_0.ttf') format('truetype'), url('../fonts/helvetica/HELVETICANEUECYR-THIN_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HELVETICANEUECYR-THINITALIC';
  src: url('../fonts/helvetica/HELVETICANEUECYR-THINITALIC_0.eot');
  src: local('☺'), url('../fonts/helvetica/HELVETICANEUECYR-THINITALIC_0.woff') format('woff'), url('../fonts/helvetica/HELVETICANEUECYR-THINITALIC_0.ttf') format('truetype'), url('../fonts/helvetica/HELVETICANEUECYR-THINITALIC_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HELVETICANEUECYR-ULTRALIGHT';
  src: url('../fonts/helvetica/HELVETICANEUECYR-ULTRALIGHT_0.eot');
  src: local('☺'), url('../fonts/helvetica/HELVETICANEUECYR-ULTRALIGHT_0.woff') format('woff'), url('../fonts/helvetica/HELVETICANEUECYR-ULTRALIGHT_0.ttf') format('truetype'), url('../fonts/helvetica/HELVETICANEUECYR-ULTRALIGHT_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HELVETICANEUECYR-ULTRALIGHTITALIC';
  src: url('../fonts/helvetica/HELVETICANEUECYR-ULTRALIGHTITALIC_0.eot');
  src: local('☺'), url('../fonts/helvetica/HELVETICANEUECYR-ULTRALIGHTITALIC_0.woff') format('woff'), url('../fonts/helvetica/HELVETICANEUECYR-ULTRALIGHTITALIC_0.ttf') format('truetype'), url('../fonts/helvetica/HELVETICANEUECYR-ULTRALIGHTITALIC_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Arial*/
@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular/ArialRegular.eot");
  src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ArialRegular/ArialRegular.woff") format("woff"),
  url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ArialBold";
  src: url("../fonts/ArialBold/ArialBold.eot");
  src: url("../fonts/ArialBold/ArialBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ArialBold/ArialBold.woff") format("woff"),
  url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ArialItalic";
  src: url("../fonts/ArialItalic/ArialItalic.eot");
  src: url("../fonts/ArialItalic/ArialItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ArialItalic/ArialItalic.woff") format("woff"),
  url("../fonts/ArialItalic/ArialItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ArialBlack";
  src: url("../fonts/ArialBlack/ArialBlack.eot");
  src: url("../fonts/ArialBlack/ArialBlack.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ArialBlack/ArialBlack.woff") format("woff"),
  url("../fonts/ArialBlack/ArialBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ArialBoldItalic";
  src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot");
  src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/ArialBoldItalic/ArialBoldItalic.woff") format("woff"),
  url("../fonts/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}