.header {
  display: flex;
  padding-top: 20px;
  background-color: #fff;
  padding-bottom: 30px;
  position: relative;
  border-bottom: 1px solid #92689c;

  @include desktop-mf() {
    border-bottom: none;
  }

  .header__logo {
    flex: 0 0 35%;
    .header__logo-img {
      width: 100%;
    }

    @include desktop-mf() {
      position: absolute;
      left: 0;
      top: 20px;
      z-index: 1;
    }
  }


  .header__content {
    flex-grow: 1;
    @extend %clearfix;
    @include desktop-mf() {
      display: flex;
      position: relative;
      flex-direction: row-reverse;
    }
  }

  .header__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include desktop-mf() {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .header-btn__img-type {
    margin-right: 10px;
  }

  .header-btn__search {
    margin-right: 15px;
    text-transform: uppercase;
    color: $violet;
    font-family: 'HELVETICANEUECYR-BOLD', sans-serif;
    font-weight: bold;
    font-size: 16px;
  }

  .header__contacts {
    margin-left: 13px;
    float: right;
    margin-top: 15px;

    @include desktop-mf() {
      margin: 0 auto;
      margin-top: 10px;
    }
  }

  .contacts__head {
    font-size: 16px;
    font-family: "ArialBold", sans-serif;
    font-weight: bold;
    margin: 0;
    @include desktop-mf() {
      text-align: center;
      font-size: 24px;
    }
  }

  .contacts__content {
    font-family: "ArialRegular", sans-serif;
    font-size: 12px;
    color: #707070;
    display: block;
    @include desktop-mf() {
      display: inline-block;
      font-size: 14px;
    }
  }

  .contacts__map-link {
    text-decoration: underline;
    font-family: "ArialRegular", sans-serif;
    @include desktop-mf() {
      display: inline-block;
    }
  }

  //nav-menu

}

.header-nav {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $violet;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 25px;
  transform: translate(0, -1000px);
  transition: all .3s ease-in;
  z-index: 3;
  @include laptop-mf() {
    top: 0;
    position: fixed;
  }

  &.active {
    transform: translate(0, 0);
    transition: all .3s ease-out;
  }
}

.header-nav-wrapper {
  @include laptop-mf() {
    display: flex;
    flex-direction: row-reverse;
  }
}

.header-nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  @include laptop-mf() {
    align-items: flex-start;
    padding-top: 10px;
  }

  .header-nav__logo_img {
    @include laptop-mf() {
      display: none;
    }
  }
}

.header-nav__logo_desktop {
  .header-nav__logo_img {
    display: none;
    @include laptop-mf() {
      display: block;
    }
  }
}



.nav-list {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .3s;

  @include laptop-mf() {
    max-height: 1000px;
  }

  &.active {
    max-height: 500px;
    transition: max-height 1s;
  }
}

.main-nav-list {
  max-height: 1000px;
  padding-top: 30px;
  @include laptop-mf() {
    display: flex;
    padding-top: 0;
  }

  .head-item {
    @include laptop-mf() {
      min-height: 100px;
      margin: 0 10px;
    }
  }

  .nav-item {
    .nav-link {
      padding-left: 20px;
      padding-right: 20px;
      @include laptop-mf() {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .nav-list {
      .nav-item {
        .nav-link {
          padding-left: 50px;
          @include laptop-mf() {
            padding-left: 3px;
          }
        }

        .nav-list {
          .nav-item {
            .nav-link {
              padding-left: 80px;
              @include laptop-mf() {
                padding-left: 20px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

.nav-link {
  display: block;
  width: 100%;
  transition: all .3s;
  color: $light-violet;
  padding: 10px 0;
  text-decoration: none;
  font-family: "HELVETICANEUECYR-THIN", sans-serif;
  font-size: 16px;

  &:hover {
    background-color: $red;
    transition: all .3s;
    color: #fff;
    text-decoration: none;
  }

  &:focus {
    color: $light-violet;
  }
}

.head-link {
  color: #fff;
  font-family: "HELVETICANEUECYR-ROMAN", sans-serif;
  font-size: 16px;
  letter-spacing: .5px;

  &:focus {
    color: #fff;
  }
  @include laptop-mf() {
    height: 80px;
    padding-bottom: 20px;
    border-bottom: 2px solid $red;

    &:hover {
      background: transparent;
    }
  }
}



.square-btn {
  border: 1px solid $light-violet;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  width: 36px;
  height: 34px;

  @include desktop-mf() {
    width: 42px;
    height: 39px;
  }
}



.hamburger {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 30px;
  &:hover {
    cursor: pointer;
  }

  @include desktop-mf() {
    width: 42px;
    height: 35px;
  }

  .hamburger-line {
    position: absolute;
    left: 50%;
    width: 100%;
    background-color: $violet;
    display: inline-block;
    border-radius: 5px;
    transition: all .3s;
    height: 4px;


    @include desktop-mf() {
      height: 5px;
    }
  }

  .hamburger__top {
    top: 0;
    transform: translate(-50%, 0) rotateZ(0deg);
  }

  .hamburger__middle {
    top: 50%;
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  .hamburger__bottom {
    bottom: 0;
    transform: translate(-50%, 0) rotateZ(0deg);
  }

  &.active, &.mobile {
    .hamburger-line {
      transition: all .3s;
      transform-origin: 50% 50%;
      background-color: #fff;
    }

    .hamburger__top {
      top: 50%;
      transform: translate(-50%, -50%) rotateZ(-45deg);
      transform-origin: 50% 50%;

    }

    .hamburger__middle {
      opacity: 0;
    }

    .hamburger__bottom {
      bottom: 50%;
      transform: translate(-50%, 50%) rotateZ(45deg);
      transform-origin: 50% 50%;

    }
  }


}